.birthdays-panel-body {
  padding: 20px 20px !important;
}

.birthdays-list-group {
  padding-left: 0;
  /* margin-bottom: 20px; */
}

.mb0 {
  margin-bottom: 0;
}

.birthdays-list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.recent-comments li {
  background-color: #f2f2f2;
  border-radius: 0;
  border-width: 0 0 0 4px;
  margin-bottom: 10px;
}

.birthdays-list-group-item {
  padding: 5px 10px;
  position: relative;
  display: block;
  border: 1px solid #ddd;
}

.birthday-avatar {
  border-radius: 50px;
  height: 34px;
  margin-top: 10px;
  width: 34px;
}

.mr15 {
  margin-right: 15px !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

small,
.small {
  font-size: 85%;
}
.alignment > thead > tr > th {
  padding: 8px 3px;
}
