.eventType-editInput{
    border-radius: 0px;
    height: 28px !important;
    min-height: 28px;
    width: 91%;
    &:focus-visible {
        outline-offset: 0px;
        outline: -webkit-focus-ring-color auto 1px;
    }
    &:focus{
        box-shadow: none;
    }
}