.it_data thead > tr > th {
    text-align: center;
}

.sub-total {
    margin-top: 6px;
    font-size: 14px;
}

.mar-100 {
    margin-right: 100px;
}

.pr-50 {
    padding-right: 50px;
}

.bdr-top {
    border-top: 1px solid rgba(27, 93, 149, 0.48);
    padding-top: 20px;
}

.fs-16 {
    font-size: 16px;
}

table tbody tr:last-child td {
    border-bottom: none;
}

.w-100 {
    width: 100%;
}