// Here you can add other styles
body {
  font-size: 14px;
}
.icon-roles {
  display: block;
  height: 13px;
  width: 13px;
  svg {
    width: 100%;
    height: 100%;
    fill: #404040;
  }
}
.info-checkbox {
  background-color: $info-base;
}
.title-sm {
  font-size: 14px;
}
.form-select {
  font-size: 12px;
}
.form-label {
  font-weight: $font-weight-bold;
}
.btn-ovh {
  color: $white;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 1.42857;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  &:disabled,
  &:active,
  &:hover,
  &:focus {
    color: $white;
  }
}
.today-date-highlight {
  background-color: #5297d6;
  border-radius: 5px;
  color: white;
}

.btn-download {
  background-color: $blue-btnBg;
  border-color: $blue-btnBorder;
  color: $white;
  &:hover {
    color: $white;
    background-color: $blue-btnHover;
    border-color: $blue-btnHoverBorder;
  }
}
.form-check-input[type='checkbox'] {
  border-radius: 0.15em;
}
.form-check-input:checked {
  background-color: $info-base;
  border-color: $info-base;
}
.form-check-input:checked[type='checkbox'] {
  background-size: 15px;
}
.sidebar {
  --cui-sidebar-width: 16.664%;
}
.sidebar:not(.sidebar-end) ~ * {
  --cui-sidebar-occupy-start: 16.664%;
}
.sidebar-narrow-unfoldable:not(.sidebar-end) ~ * {
  --cui-sidebar-occupy-start: 4rem;
}
html:not([dir='rtl']) .wrapper {
  padding-left: 0;
  // padding-left: var(--cui-sidebar-occupy-start, 0);
}
.cursor-pointer {
  cursor: pointer;
}
thead.table-primary td {
  background-color: $primary;
  color: $white;
}
dd {
  margin-bottom: 0;
}

.myprofile-wrapper {
  .card-header {
    h4 {
      color: $primary;
      font-weight: normal;
    }
  }
}
.header-nav .nav-link {
  color: $white;
}
.inline-tabs-nav {
  &.nav {
    &.nav-tabs {
      justify-content: flex-end;
      padding-right: 35px;
      padding-left: 35px;
      @include media-breakpoint-down(md) {
        padding-right: 20px;
        padding-left: 20px;
        align-items: flex-start;
        min-height: 60px;
        justify-content: flex-start;
        // height: 30px;
      }
    }
  }
  .nav-item {
    @include media-breakpoint-down(md) {
      padding: 0 0 5px 0;
    }
  }
  .nav-link {
    height: 30px;
    @include media-breakpoint-down(md) {
      margin-top: 0 !important;
    }
    &.active {
      @include media-breakpoint-down(md) {
        border: 1px solid #458fd2;
        border-bottom-color: #458fd2 !important;
        height: 30px !important;
      }
    }
  }
}
.table-striped > thead > tr:nth-of-type(even) > * {
  background-color: $white;
}
input.form-control,
select.form-select {
  height: 34px;
}
.table > :not(caption) > * > * {
  color: #404040;
}
th {
  font-weight: bold;
}

.form-control {
  font-size: 12px;
}

.w-10 {
  width: 10;
}

.calender-title {
  color: $primary-base;
  font-size: 18px;
  font-weight: normal;
}

.form-leave {
  font-size: 12px;
  height: 32px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #dcdcdc;
  text-align: center;
}

.sh-date-picker {
  background-image: url('../icons/calendar.svg');
  /* position: relative; */
  background-position: calc(100% - 10px);
  background-size: 16px;
  background-repeat: no-repeat;
}
.sh-date-picker:hover {
  cursor: pointer;
}

.sh-date-picker-column {
  width: 13% !important;
}

input.capetalized {
  text-transform: capitalize;
}
.model-text {
  color: $blue;
}
.model-text:hover {
  color: #245269;
}

.shift-info {
  display: contents;
}

.mail-template-table th,
.mail-template-table td {
  text-align: center;
}

.description-link li,
.description-link div ul {
  list-style: none;
}
.form-select-not-allowed {
  cursor: not-allowed;
  pointer-events: all !important;
}
.Allocation-table th {
  background-color: #3f8bd1;
}
.employee-allocation-export-btn {
  position: relative;
}
.employee-allocation-export-btn button {
  position: absolute;
  right: 12px;
}
.label-default {
  background-color: $badge-light;
  color: #333;
}
.leavereport-exportbutton {
  float: right;
  margin-top: 36px;
  font-size: 13px;
}

.custom-scroll {
  height: 350px;
  overflow: auto;
}
.hidden-block {
  cursor: not-allowed;
}

.model-header-text {
  padding: 1rem 0;
  border-bottom: 1px solid $blue-light;
  color: $blue-light;
}
.bookingList-model-table th,
.bookingList-model-table td {
  border-bottom: none;
}

.text-danger {
  color: $text-danger !important;
}

.modal .modal-dialog .modal-content .modal-body.model-body-text-alinement {
  min-height: 90px;
  padding-top: 0px;
}

.template-body .model-text {
  margin-bottom: 30px;
}
.template-body .template-content {
  min-height: 50px;
}
.time-in-office-table > :not(caption) > * > * {
  padding: 8px !important;
}

.pe-18 {
  padding-right: 18px;
}

.resignation-initiate-btn,
.resignation-initiate-btn:hover,
.resignation-initiate-btn:active,
.resignation-initiate-btn:focus {
  background-color: $blue-btnBg;
  border-color: $blue-btnBg;
  color: $white;
}
.sh-btn-group.resign-btn button {
  margin: 2px;
  padding: 4px 8px;
}
.status-name {
  padding: 3px 10px !important;
}
.project-width {
  width: 100px;
}
.project-creation {
  font-weight: 400 !important;
}
.checkList-table td {
  border-bottom: none;
  
}
.project-view-text-header h3 {
  font-size: 24px;
  font-weight: 400;
}
.milestone-table th,
.milestone-table td {
  text-align: center;
}
.milestone-model-table {
  font-weight: bold;
}
.milestone-model-table tr td:first-child {
  width: 150px;
  text-align: right;
}
.milestone-model-table td {
  border-bottom: none;
}
.resignation-comments {
  display: inline-flex;
}
.rating-details-table {
  table > :not(caption) > * {
    border-width: 1px 0;
    > * {
      border-width: 0 1px;
    }
  }
}
.project-billable {
  display: inline-block;
  margin-top: 14px;
  font-weight: 500;
}
.project-creation:hover {
  color: #245269 !important;
}

.table-color {
  color: rgba(0, 0, 0, 0.02);
}

.nominee-detail:hover {
  color: #245269 !important;
}

.text-decoration-hover {
  text-decoration: none;
  color: #428bca !important;
}

.text-decoration-hover:hover {
  text-decoration: underline;
}

.add-project-back-btn {
  position: absolute;
  right: 13px;
}
.add-project-checkList-table td {
  border-bottom: none;
}
.checkList-radio-btn {
  margin-right: inherit !important;
  padding-left: initial !important;
}
.checkList-radio-btn input {
  margin-left: 0 !important;
}
.checklist-textarea {
  height: 60px;
  width: 190px;
}

.add-project-request-icon {
  padding: 4px 8px !important;
  margin-top: 18px;
  background-color: #428bca !important;
  border-color: #357ebd;
  color: #fff !important;
}

.was-validated .form-check-input:valid,
.form-check-input.is-valid,
.form-check-input.ng-valid {
  border-color: #b1b7c1;
}
.sh-timeline-title {
  font-weight: 400;
}
.edit-time-control {
  input,
  select {
    border: 1px solid #000;
  }
}

.table-layout-fixed {
  table-layout: fixed;
  th:first-of-type {
    width: 40px;
  }
}
.sh-project-report-details {
  .profile-tab-header {
    background-color: $primary-75;
  }
}
.projectCreation-request-table {
  .badge {
    font-size: 85%;
    padding: 3px 10px;
    width: 100%;
  }
}
.changeRequest-table {
  th:first-of-type {
    width: auto;
  }
}
.loading-spinner {
  img {
    width: 70px;
  }
}
.modal-open {
  overflow: hidden;
}

.lineHeight {
  line-height: 1;
}
.sh-initiateCheckBox .form-check-input {
  width: 1.5em;
  height: 1.5em;
}
.sh-initiateCheckBox .form-check-input:checked[type='checkbox'] {
  background-size: 24px;
}
.table-slots-booked.table tr:last-child td {
  border: none;
}
.sh-agenda {
  height: 60px;
  resize: both;
}
// .react-datepicker__day--today {
//   background-color: #5797cd;
//   color: white;
//   border-radius: 3px;
// }
.nav-item.notification {
  .dropdown-menu {
    min-width: 275px !important;
  }
  .text-muted {
    pointer-events: none;
    font-size: 1.2em !important;
  }
  .dropdown-item {
    padding: 15px !important;
  }
}
.actions{
  min-width: 126px;
}
.star-rating {
  font-size: 2rem;
  cursor: pointer;
}

.star {
  transition: color 0.3s;
  color: #a9a9a9;
  font-size: 14px;
}

.star.selected
 {
  color: #21568b;
}
.client-Alignment .card-body {
  padding-left: 0;
  padding-right: 0;
}
.client-No-Records{
  border-bottom: 1px solid #d8dbd0;
}
.client-No-Records .text-start {
  background-color: #fff;
    box-shadow: none;
}
.closeClient-btn{
  padding-right: 0 !important;
  text-align: right;
  .me-1{
    margin-right: -4px !important;
  }
}
.CheckList-view{
  th{
    vertical-align: top !important;
  }
}
.auditorsLabel {
  margin-bottom: 0 !important;
  td{
    display: inline;
    padding: 0 17px 0 0 !important;
   
  }
}
.sqa-btn{
  width: 30px;
}
.export-Warranty{
  position: absolute;
  right: 0;
}
.asset-Warranty{
  position: relative;
  z-index: 999;
}
.project-no-records{
background-color: #fff !important;
    border-bottom: none;
}
.preview-Interview{
  padding: 1px 5px;
  font-size: 10px;
}
.interview-blockquote {
  fontSize: '12px';
  maxWidth: '1000px';
wordWrap: 'break-word';
padding: '10px 20px';
margin: '0 0 20px';
borderLeft: '5px solid #eee';
}
// custom - 3 
// Normal - 9
.job-actions i.fa {
  width: 12px;
}
.viewJob-Edit{
  position: absolute;
  right: 10px;
}
.view-job-description p {
  margin-bottom: 0;
}
.view-job-description table {
  margin-top: 0.5rem;
}
.header-nav .show > .nav-link{
  color: #ffff;
}
.header-nav > .nav-link{
  padding: 12px 12px;
}
.milestone-history{
  display: inline-block;
  margin-right: 30px;
}
.milestone-history strong{
  margin-right: 4px;
}
.milestone-history strong:hover{
  color:#245269 !important;
}
.milestone-discussion-post{
  padding: 5px 10px;
    font-size: 11px;
}
.milestone-actions i.fa{
  font-size: 12px;
}

.sh-timeline-card-list{
  background-color: #fff;
}
.interview-save{
  padding: 8px 13px;
  line-height: 1;
}