// Roboto fonts from google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// If you want to override variables do it here
@import 'variables';

$enable-ltr: true; /* stylelint-disable-line scss/dollar-variable-default */
$enable-rtl: true; /* stylelint-disable-line scss/dollar-variable-default */

// Import styles
@import '@coreui/coreui-pro/scss/coreui';
@import '@coreui/coreui-pro/scss/themes/dark';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
@import 'cropperjs/dist/cropper.css';
@import 'layout';

// If you want to add custom CSS you can put it here.
@import 'simplebar/dist/simplebar.min.css';
@import 'custom';
@import 'base';
@import './components/sidebar-nav';
@import './components/card';
@import './components/global-search';
@import './components/idle-modal';
@import './components/session-timeout';
@import './components/inline-tabs-nav';
@import './components/loading-spinner';
@import './components/react-datepicker-styles';
@import './pages/login';
@import './pages/qualifications-tab';
@import './components/richtexteditor';
@import './components/omodal';
@import './components/user-role-features-expandable-table';
@import './pages/myprofile/profilehistory/profilehistory';
@import './pages/myprofile/basicinfo/basicinfo';
@import './pages/myprofile/projectstab/projectstab';
@import './components/user-profile';
@import './components/employee-list';
@import './pages/employeedirectory/employeeslist/addnewemployee/shiftconfiguration/shift-configuration';
@import './components/category-list';
@import './pages/employeedirectory/visalist/visa-list';
@import './components/employee_handbook';
@import './pages/timeandattendance/attendancereport/attendance-report';
@import './pages/timeandattendance/timeinofficereport/time-in-office-report';
@import './components/autocomplete';
@import './pages/timeandattendance/hiveactivityreport/hive-activity-report';
@import './components//designation-list';
@import './pages/recruitment/scheduledinterviews/scheduled-interviews';
@import './pages/timeandattendance/myattendance/my-attendance';
@import './pages/projectmanagement/clients/clients';
@import './components/clientinformation';
@import './components//leave-summary';
@import './pages/support/ticketapprovals/ticket-approvals';
@import './pages/dashboard/birthdays/upcoming-birthdays';
@import './pages/dashboard/holidays/upcoming-holidays';
@import './pages/dashboard/holidays/holidays-list';
@import './pages/dashboard/earnedleaves/earned-leaves';
@import './pages/dashboard/timeinoffice/timeinoffice';
@import './pages//dashboard/achievements/achievements';
@import './pages/conferenceroombooking/eventlist/eventlist';
@import './pages/dashboard/trainingsandevents/trainingsevents';
@import './pages/dashboard/jobopenings/jobopenings';
@import './pages/conferenceroombooking/newbooking/roomlist/roomlist';
@import './pages/conferenceroombooking/newbooking/locationlist/locationlist';
@import './pages/support/trackerlist/trackerlist';
@import './pages/allocateemployee/allocateemployee';
@import './pages/dashboard/dashboardheader/employee-search';
@import './pages/conferenceroombooking/newevent/eventtypelist/event-type-list';
@import './pages/employeedirectory/employeeslist/employees-list';
@import './components/otoast';
@import './pages/leaves/leavessummary/leavehistorytable';
@import './pages/settings/configurations/configurations';
@import './pages/settings/configurations/addconfiguration';
@import './pages/settings/configurations/editconfiguration';
@import './pages/settings/configurations/addconfigurationoptions';
@import './pages/projectmanagement/project/project';
@import './pages/leaves/leaveapprovals/leave-approvals';
@import './pages/finance/itdeclarationform/it-declaration-form';
@import './pages/finance/payslips/payslips';

@import './pages/finance/pfandbankdetails/pfandbankdetails';
@import './pages/finance/employeeaccounts/employeeaccounts';

@import './pages/finance/itdeclarationlist/add-investment';
@import './pages/finance/payrollmanagement/viewaction';

@import './pages/finance/itdeclarationlist/it-declarationform';
@import './pages/performance/my-review/my-review';
@import './pages/performance/reviewlist//review-list';
@import './pages/finance/payrollmanagement/payrollmanagement';
@import './pages/performance/piplist/pip-list';
@import './pages/settings/configurations/appraisalconfiguration';
@import './pages/settings/initiatecycle/initiatecycle';
@import './pages/resignationlist/resignationlist';
@import  './pages/errorpage/errorpage';
@import './pages/notifications/notifications';


