.panel-success.panel-colorful {
  background-color: #8cc152;
  color: #fff;
}

.panel-success.panel-colorful .widget-inner h4,
.panel-success.panel-colorful .widget-inner h5,
.panel-success.panel-colorful .widget-inner h2 {
  color: #fff;
}

.text-right {
  text-align: right;
}

.media-body h4,
.media-body h5,
.media-body h2 {
  color: #fff;
}
