.sh-form-switch {
  .form-check-input {
    width: 54%;
    height: 24px;
    border-radius: 30px;
    border-color: whitesmoke;
    background-color: #ccc;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.87%29'/%3e%3c/svg%3e");
    &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.87%29'/%3e%3c/svg%3e");
    }
  }
}
.alignment > thead > tr > th {
  padding: 8px 3px;
}
.sh-form-switch {
  .form-check-input.is-valid:focus {
    box-shadow: none;
  }
}
.sh-form-switch {
  .form-check-input:checked[type='checkbox'] {
    background-size: auto;
  }
}
.sh-form-switch {
  .form-check-input.is-valid:checked {
    background-color: #61B329;
  }
}