.profile-tab{
&-table-size {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

&-header {
    background-color: #3f8bd1;
}

&-content {
    color: #fff !important;
}

&-label{
        display: inline;
        padding: 0.4em 1.2rem 0.4em 1.2rem;
        font-size: 85%;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        border-radius: 1rem;
        display:block
}

&-label-success{
    background-color: $success-base;
}
&-label-warning{
   background-color:  #dd5a37
}
&-label-failed{
    background-color:  #c93636
 }
 &-label-null{
    background-color:  #9b918f
 }
 &-label-gray{
    background-color: $badge-light;
    color:  #333;
 }
}
.sh-title-milestone{
    padding-left: 30px;
}

.sh-index{
    max-width: 150px;
    width: 5% !important;
}

.sh-name{
max-width:300px;
width:23%;
}
.sh-Duration{
    max-width:100px;
    width:10%;
}
.sh-description{
    max-width:500px;
    width:54%;
}
