// Cards
.card {
  @include card-style(10px, 1px solid $handbook-item-border);
  box-shadow: none;
  // overflow: hidden;
  &.bg-danger,
  &.bg-success {
    padding-left: 0;
    padding-right: 0;
    .card-footer {
      border-top-color: $white;
    }
  }
  &:not([class*=border]){
    border: 1px solid $handbook-item-border;
  }
  .card-header {
    @include card-header(10px 10px 0px 0px, 1px solid $handbook-item-border, 0.6875rem $spacer-padding);
    background-color: $white;
    position: relative;
    color: $gray-900;
    font-weight: 700;
    &.bg-primary {
      background-color: $primary-50 !important;
      border-color: transparent;
      color: $white;
      margin: 0 -1rem;
      width: calc(100% + 2rem);
      h4 {
        color: inherit;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    .h4 {
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card-footer {
    background-color: transparent;
    a {
      text-decoration: none;
    }
  }
  .card-body {
    padding:$spacer-padding $spacer-padding 1.875rem;
  }
}
