
.project-report {
    .btn-primary {
      background-color: #3f8bd1;
      border-color: #3988cf;
      color: #fff;
    }
  
    .btn-info-light {
      background-color: #34b2e7;
      border-color: #2db0e6;
      color: #fff;
    }
  
    // .btn-danger {
    //   background-color: #d9534f;
    //   border-color: #d43f3a;
    // }
  }

  .sh-fa-times{
    padding: 1px;
  }
  
  .label {
    font-weight: 400;
    border-radius: 0.1em;
    font-size: 85%;
  }
  
  .label-table {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    text-align: center !important;
    width: 90% !important;
    border-radius: 30px !important;
  }
  
  .label-gray {
    background-color: #e3e8ee;
    color: #333;
  }
  
  .label-green {
    background-color: #8cc152;
    color: #ffffff;
  }
  
  .label-orange {
    background-color: #feab34;
    color: #ffffff;
  }
  
  .label-danger {
    background-color: #e9573f;
    color: #ffffff;
  }
  .label-red {
    background-color: #e9573f;
    color: #ffffff;
  }
  
  .input-xs {
    padding: 0px;
    height: 28px !important;
  }

  .sh-project-report-actions{
    min-width: 119px;
  }

  .profile-tab-content {
    color: #fff !important;
}

.sh-project-report-status{
  min-width: 119px;
}

.opt-bg-gray {
  background-color: #e3e8ee;
}

.opt-bg-green {
  background-color: #8cc152;
}

.opt-bg-orange {
  background-color: #feab34;

}

.opt-bg-danger {
  background-color: #e9573f;

}
.sh-hyperLink p{
  margin-bottom: 0px;
}
.sh-formLabel{
  font-weight: bold;
}