.time-in-office-indications{
    display: flex;
    li {
        margin-right: 14px;
        list-style: none;
    }
    .low-time{
        color: $danger-pending;
    }
    .approved{
        color: $purple-approved;
    }
}
.sh-summary-text{
    color: $primary-base;
    font-weight: 400 !important;
    font-size: 14px;
    font-family: 'roboto', sans-serif;
}
    