.sh-alignment{
    position: relative;
  }
  table.profile-tab-table-size thead th {
    color: #fff !important;
}
.profile-tab-table-size {
  width: 100%;
}
.sh-organization-link .sh-hive-activity-link{
  color: #404040 !important;
}