.time-in-office-header {
  color: #124b7c;
  font-size: 14px !important;
  font-weight: 400;
}

.radio-container {
  margin-bottom: 20px;
}

.color-for-time-hyphen {
  color: blue !important;
}

.color-for-time-red {
  color: red !important;
}

.color-for-time-black {
  color: black !important;
}

.color-for-time-total {
  color: green !important;
}

.time-in-office-header {
  display: flex;
  align-items: center;

  h5 {
    margin-bottom: 0 !important;
  }
}

.time-in-office-report-options {
  margin-bottom: 10px;
}

.time-in-office-search-field {
  min-width: unset !important;
}

.time-in-datepicker-col {
  display: flex;
  align-items: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.time-in-office-report-card {
  overflow: unset !important;
}
